body {
    background-color: #fceeeb;
}

#container {
    width: 1000px;
    
    margin: 0 auto;
    text-align: center;
}

#me {
    border-radius: 50%;
    border: 10px solid #5e2020;
    width: 350x;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

#text-container {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 850px;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 30pt;
}

h1, h2 {
    color: #290e0e;
}

.voorstelling {
    font-size: 15pt;
    padding: 0 60px; 
}



.card {
    height: 400px;
    width: 300px;

    box-sizing: border-box;

    background: rgb(255, 218, 243);

    float: left;
    margin-left: 25px;
    margin-bottom: 25px;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


